html {
	background-color: #6b6262;
}

.container {
	width: 620px;
	height: 493px;
	margin: 0 auto;
	border-radius: 10px;
	background-color: #ffffff;
}

.top {
	position: relative;
	height: 44px;
	background-color: #ff8663;
	border-radius: 10px 10px 0px 0px;
}

.top span {
	position: absolute;
	color:#ffffff;
	top:12px;
	left: 15px;
}

.top .close_window {
	position: absolute;
	top: 15px;
	right: 10px;
}

.top .close_window:hover {
	cursor: pointer;
}

#search {
	position: relative;;
	height: 44px;
	background-color: #f0f0f0;
}

.search_box {
	position: absolute;
	top: 10px;
	height: 26px;
	width: 285px;
	background-color: #ffffff;
	border-radius: 13px;
}

#search img {
	position: relative;
	top: 6px;
	left: 7px;
}

.search_box input {
	width: 245px;
	position: relative;
	border: none;
	top: 3px;
	left: 15px;
}

#search .left_search {
	left: 15px;
}

#search .right_search {
	right: 15px;
}

#friends {
	/*position: relative;;*/
	height: 361px;
}

#friends ul {
	border-top: 1px solid #f0f0f0;
	margin-left: 7px;
	margin-right: 3px;
	list-style-type: none;
	padding: 0;
	height: 310px;
	overflow: auto;
}

#friends li {
	position: relative;
	height: 60px;
}

#friends .round {
	position: absolute;
	left: 5px;
	top: 7px;
 	display: inline-block;
	width: 46px;
	height: 46px;
 	-moz-border-radius: 50%; /* Firefox */
 	-webkit-border-radius: 50%; /* Safari, Chrome */
 	-khtml-border-radius: 50%; /* KHTML */
 	border-radius: 50%; /* CSS3 */
 	behavior: url(border-radius.htc); /*IE */
}

#friends li .friend_name {
	position: absolute;
	left: 55px;
	top: 20px;
}

#friends li .friend_button {
	position: absolute;
	right: 10px;
	top:23px;
}

#friends li .friend_button:hover {
	cursor: pointer;
}

#friends li:hover {
	background-color: #f0f0f0;
}

#friends #right_col {
	float: right;
	width: 309px;
	height: 361px;
	border-left: 1px solid #f0f0f0;
}

#friends #left_col {
	width: 309px;
	margin-right: 311px; 
	height: 361px;
}

#friends p {
	padding-left:  10px;
	margin-top: 0px; 
	padding-top: 10px;
	font-weight: bold;
}

#friends .user_id {
	display: none;
}

.bottom {
	position: relative;; 
	height: 44px;
	background-color: #f0f0f0;
	border-radius: 0px 0px 10px 10px;
}

.bottom #save_btn {
	width: 87px;
	height: 31px;
	border-radius: 10px;
	background-color: #ff8663;
	color: #ffffff;
	position: absolute;
	border: none;
	right: 8px;
	top: 8px;
}

.bottom #save_btn:hover {
	background-color: #ffffff;
	color: black;
}
